body { text-align: center; padding: 100px; }
h1 { font-size: 60px; }
p { font-size: 25px;}

body {
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}