body { text-align: center; padding: 120px; }
h1 { font-size: 60px; text-align: center; }
p { font-size: 25px; text-align: center;}

body {
  background-image: url('img/bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.icon {
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
}

.icon:hover {
  scale: 1.1;
}

.icon-list {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  margin-top: 40px;
  width: auto;
  justify-content: center;
  align-items: center;
}
